
.flex-container-banner {
    display: flex;
  }

  .hero-text {
    font-size: 5rem;
    text-align: right;
    padding-top: 10%;;
    padding-right: 5%;
  }

  .banner {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  box-shadow: 4px 4px 8px gray;
  }

  .flex-item h4 {
    padding-left: 5%;
    padding-top: 5%;
  }

@media screen and (max-width: 768px) {
  .flex-container-banner {
    display: block;
  }

  .hero-text {
    font-size: 2rem;
    text-align: right;
    padding-top: 10%;;
    padding-right: 5%;
  }

  .banner {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  box-shadow: 4px 4px 8px gray;
  }

  .flex-item h4 {
    padding-left: 5%;
    padding-top: 5%;
  }
}